html{
    width: 100%;
    height: 100%;

}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 600px auto 150px;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";

}

.nav{
 display: grid;
 grid-area: nav;
background-color: white;
}

.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}
.nav ul li{

}

.nav ul li a{

}

.header{

display: grid;
grid-area: header;
background-color: black;
color: whitesmoke;

}

.main{
display: grid;
grid-area: main;
border: solid 1px black;
   
    

}

.section{

    width: 100%;
    height: 100%;
}

.article{

    width: 100%;
    height: 100%;
}

.footer{

    display: grid;
    grid-area: footer;
    border: solid 1px black;
}