html{
    width: 100%;
    height: 100%;

}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 600px auto 150px;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}

/* MAIN 1 */
.main1{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "section1"
    "section2"
    "section3";
}

/* MAIN2 */
.main2{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "section1";
}

.section1{
    display: grid;
    grid-area:section1;
}
.section2{
    display: grid;
    grid-area:section2;
}
.section3{
    display: grid;
    grid-area: section3;
}
.sider{
    display: grid;
    grid-area:sider;
}

.nav{
 display: grid;
 grid-area: nav;
background-color: white;
}

.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}
/* .nav ul li{

}

.nav ul li a{

} */

.header{

display: grid;
grid-area: header;
background-color: black;
color: whitesmoke;

}

.main{
display: grid;
grid-area: main;
border: solid 1px black;
}

.section{
    width: 100%;
    height: 100%;
}

.article{
    width: 100%;
    height: 100%;
}

.footer{
    display: grid;
    grid-area: footer;
    border: solid 1px black;
}


section{
    border: 1px solid red;
}

/* SECTION 1 */

.section1 article{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 70%;
    grid-template-areas: 
    "titulo imagen"
    "texto imagen";
}

.section1 .titulo{
    display: grid;
    grid-area: titulo;
}

.section1 .texto{
    display: grid;
    grid-area: texto;
}
.section1 .imagen{
    display: grid;
    grid-area: imagen;
}

.section1 .imagen img{
    width: 100%;
}


/* SECTION 2 */

.section2 article{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 70%;
    grid-template-areas: 
    "titulo imagen"
    "texto imagen";
}

.section2 .titulo{
    display: grid;
    grid-area: titulo;
}

.section2 .texto{
    display: grid;
    grid-area: texto;
}
.section2 .imagen{
    display: grid;
    grid-area: imagen;
}

.section2 .imagen img{
    width: 100%;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.contenedor2{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;

}

.card{
    width: 270px;
    height: 350px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    transition: all 0.7s ease;
}

.card:hover{
transform: scale(1.05);
}

.boton:hover{
    cursor: pointer;
    
}

/* TITULO */
.card .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 60px;
    min-height: 60px;
}
.card .titulo h2{
    padding: 0;
    margin: 0;
}


/*IMAGEM */
.card .imagen img{
    width: 100%;
    height: 200px;
}

/* PRECIO   */
.card .precio{
    padding-left: 5px;
}



/* BOTONES */
.botones{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botones button{
    width: 60%;
    height: 25px;
}

.div-flex{
    height: 300px;
    display: flex;
  
   justify-content: space-around;
   

   h1{
    height: auto;
    padding: 0;
    margin: 0;
   }
    
}